@page "/StudSovet"

<div class="d-flex justify-content-center flex-wrap">
	<div class="ProfileCards mb-4">
		<div class="d-flex flex-column">
					<div class="d-flex sectionCardText justify-content-center">
						<h2 class="m-2">Курбангалиев Руслан</h2>
					</div>
					<div class="d-flex mt-2 justify-content-center">
						<div>
							<img class="sectionPhotoClass m-4" style="object-fit: cover" src="https://sun9-36.userapi.com/impg/K1d4aSXINhEkZa18fneBT9TxMr9kwDJdTuHbHg/8-XCdaxMSC0.jpg?size=2560x1984&quality=96&sign=d3996f899c04d5d7cfea42dfc17de9e0&type=album"/>
						</div>
						<div class="mt-4">
							<h4 class="sectionCardText mt-2">Творческий вдохновитель и организатор разнообразных культурных мероприятий</h4>
						</div>
					</div>
		</div>
	</div>
	<div class="ProfileCards mb-4">
		<div class="d-flex flex-column">
					<div class="d-flex sectionCardText justify-content-center">
						<h2 class="m-2">Замура Никита</h2>
					</div>
					<div class="d-flex mt-2 justify-content-center">
						<div>
							<img class="sectionPhotoClass m-4" style="object-fit: cover" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/Man_silhouette.svg/1200px-Man_silhouette.svg.png"/>
						</div>
						<div class="mt-4">
							<h4 class="sectionCardText mt-2">Энергичный лидер и организатор спортивных мероприятий.</h4>
						</div>
					</div>
		</div>
	</div>
	<div class="ProfileCards mb-4">
		<div class="d-flex flex-column">
					<div class="d-flex sectionCardText justify-content-center">
						<h2 class="m-2">Хизбуллина Альбина</h2>
					</div>
					<div class="d-flex mt-2 justify-content-center">
						<div>
							<img class="sectionPhotoClass m-4" style="object-fit: cover" src="https://sun9-57.userapi.com/impg/Uz496KyJcGuWyX6Q89zDBaX1mmKQ7gpzIt1PPA/gy5hvmbears.jpg?size=1619x2160&quality=95&sign=3e4c4ca07cdcb7ae22ee6b54c8d24f8e&type=album"/>
						</div>
						<div class="mt-4">
							<h4 class="sectionCardText mt-2">Отвечает за руководство редакционным процессом</h4>
						</div>
					</div>
		</div>
	</div>
</div>
@code {
	
}
